  <footer>
    <p>This project is maintained by the<br />
      <a href="https://github.com/jats4r">JATS4R organization</a>, and hosted on 
      <a href="https://github.com/jats4r/jats4r.github.io">Github pages</a>.</p>
    <p><a href="https://twitter.com/JATS4R" 
      class="twitter-follow-button" 
      data-show-count="false">Follow @JATS4R</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
        p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
          js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);}}
          (document, 'script', 'twitter-wjs');</script>
    </p>
  </footer>
</div>

<script src='{{ "/static/js/script.js" | prepend: site.baseurl }}'></script>
<script src='{{ "/static/prism/prism.js" | prepend: site.baseurl }}'></script>

