<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>JATS4R - JATS for Reuse</title>
    <link rel="stylesheet" href='{{ "/static/css/normalize.css" | prepend: site.baseurl }}' />
    <link rel="stylesheet" href='{{ "/static/css/style.css" | prepend: site.baseurl }}' />
    <link rel="stylesheet" href='{{ "/static/prism/prism.css" | prepend: site.baseurl }}' />
   
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <div class="wrap">
        <a href="http://jats4r.org/"><img class="logo"
          src='{{ "/static/img/JATS4R.png" | prepend: site.baseurl }}'
          height="28px" alt="JATS4R"></a>
        <h1><span class="e">{{ page.title }}</h1>
      </div>
    </header>

    <div class="wrap content">

      <aside>
        <p class="intro"><em>Increase the reusability of the online literature by standardising the use of the Journal Article Tag Suite (JATS) for XML tagging</p>
        <nav>
          <ul>
            <li><a href="#tag-recs">Tagging recommendations</a></li>
            <li><a href="#samples-articles">Sample articles</a></li>
            <li><a href="#validation">Validation</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#getting-involved">Getting involved</a></li>
            <li><a href="#endorsements">Organisations currently endorsing JATS4R</a></li>
            <li><a href="#repositories">GitHub repositories</a></li>
          </ul>
        </nav>
      </aside>

      <section class="main-content" role="main">


        {{ content }}
      </section>


      <footer>
        <p>This project is maintained by the<br />
          <a href="https://github.com/jats4r">JATS4R organization</a>, and hosted on 
          <a href="https://github.com/jats4r/jats4r.github.io">Github pages</a>.</p>
      </footer>

    </div>


    <script src='{{ "/static/js/jquery-1.10.2.min.js" | prepend: site.baseurl }}'></script>
    <script src='{{ "/static/js/script.js" | prepend: site.baseurl }}'></script>
    <script src='{{ "/static/prism/prism.js" | prepend: site.baseurl }}'></script>
    <!-- Google Analytics -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-40159858-3');ga('send','pageview');
    </script>


  </body>

</html>
