<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}

    <link rel='stylesheet' 
      href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'/>

  </head>
  <body>
    {% include banner.html %}
    <div class="wrap content">

      <section role="main">
        <p>The following is the list of topics which our group is addressing.</p>
        <p>
          These are listed in the order of our current prioritization.</p>
        <p>Key:</p>
        <ul>
          <li><span class="fa fa-exclamation-circle"></span> - list of issues, for
            detailed discussions</li>
          <li><span class="fa fa-code"></span> - examples related to that topic.</li>
        </ul>
        <p>Draft recommendations are being written in Google docs, in 
          <a href='https://drive.google.com/folderview?id=0B2wDI5EMHiJ-fnNrU1dqcmJzSEdtSC1MMWR1VC1xOGdCeXlsVU4zcXVsMVZGZkdlV2VrTE0&usp=sharing'>this
            folder</a>.</p>

        <div>
          <table class='topic-table'>
            <thead>
              <tr>
                <th>Topic</th>
                <th>Description</th>
                <th>Links</th>
                <th>Recs</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <section id="details">
          <h2>Details</h2>
          <p>The data for this page comes from <a 
            href='https://github.com/JATS4R/jats4r.github.io/blob/master/static/topics.yaml'>this 
            YAML file</a>. If you'd like to
            suggest changes, please go there and click the "edit" button.</p>
          <p>We use the following conventions:</p>
            <ul>
              <li>Topic names are lowercase, hyphen-delimited</li>
              <li><a href='https://github.com/JATS4R/elements/labels'>GitHub issue labels</a> that 
                correspond to topics match the topic names exactly, and therefore begin with
                a lowercase letter. Those that don't (e.g. "Duplicate") begin with an uppercase
                letter.</li>
            </ul>
        </section>

      </section>

    <script src="static/js/topics.js"></script>

    {% include google-analytics.html %}
  </body>
</html>
